footer {
  background-color: var(--footer-color);
  font-size: var(--body-font-size-s);
  color: #fff;
  font-family: "Roboto", "sans-serif";
}

footer .footer div.section > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer div.section > div {
    padding: 16px 24px;
  }

  footer .footer div.section.section-black {
    padding: 0;
  }
}
